@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.intro {
  /*background: url('../assets/flying.jpg') center center no-repeat;*/
  background-size: cover;
}

.description1 {
  /*width: 100%;*/
  color: black;
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: hsla(0, 0%, 40%, 0.2);*/
  /*margin: 0em 3em 0em 3em;*/
  border-radius: 15px;
}

.description1 h1 {
  margin-top: 0;
  margin-bottom: 22px;
  padding: 0;
  font-weight: 600;
  color: black;
  /*opacity: 1;*/
  font-size: 6em;
  letter-spacing: 12px;
}

.description1 h2 {
  margin-bottom: 2em;
  /*opacity: 1;*/
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: 1px;
}

.description1 p {
  margin-bottom: 2em;
  /*opacity: 1;*/
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: 1px;
}
