@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

}

.about{
  background: url("../../assets/images/demo-about.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 4px black;
}

.about h2{
  color: white;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 46%, 22%, 0.2);
  border-radius: 15px;
  text-shadow: 2px 4px black;
  padding-top: .2em;
  margin-bottom: .1em;
  font-weight: bold;
  font-size: 2.6em;
  letter-spacing: 6px;

}

.about p {
  color: white;
  /*height: 7em;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  padding: 0 2em 0 4em;
  align-items: center;
  background-color: hsla(0, 46%, 22%, 0.2);
  border-radius: 15px;
  text-shadow: 3px 2px black;
  font-size: 1.4em;
  letter-spacing: 4px;
  font-weight: bold;
  line-height: 1.5em;

}

@media handheld, screen adn (max-width: 750px) {

  .about {
  display: flex;
  text-align: center;
  letter-spacing: 10px;
  flex-flow: column;
  height: 45em;
  }

}

@media handheld, screen and (max-width: 440px) {

  .about {
    color: white;
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    text-shadow: 1px 1px white;



  }

  .about h2 {
    padding-top: 1.5em;
    margin-bottom: 2em;
    padding: 40px 1em 0 1em;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 1px;
  }

  .about p {
    font-weight: 600;
    letter-spacing: 1px;
    /*display: flex;*/
    justify-content: center;
    flex-direction: column;

  }


}
